<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{index.html}"
		lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Aren't You?| Dashboard</title>
</head>
<body>
<section layout:fragment="content">
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__head kt-portlet__head--lg">
				<div class="kt-portlet__head-label">
						<span class="kt-widget17__icon">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect id="bound" x="0" y="0" width="24" height="24"></rect>
									<path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" id="Combined-Shape" fill="#000000"></path>
									<rect id="Rectangle-Copy-2" fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) " x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect>
								</g>
							</svg>
						 </span>
					<h4 class="kt-portlet__head-title">Dashboard</h4>
				</div>
				<div class="kt-portlet__head-toolbar">
					<div class="kt-portlet__head-wrapper">
						<div class="kt-portlet__head-actions">

						</div>
					</div>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-xl-12">

						<!--begin:: Widgets/Daily Sales-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-widget14">
								<div class="kt-widget14__header kt-margin-b-30">
									<h3 class="kt-portlet__head-title">
										Selamat Datang di Aplikasi Sistem Pakar untuk Menentukan Pasangan Idaman dengan Algoritma ID3
									</h3>
									<br><br>
									<div class="kt-widget2__title">
											Pasang merupakan aset masa depan yang sangat penting. Dalam proses pengenalan, pasangan diharapkan
											mampu menyesuaikan diri dengan kepribadian pasangan serta perlu untuk memiliki tanggung jawab untuk
											masuk kedalam hubungan yang lebih serius kedepannya. Keuangan merupakan unsur pentingdalam berhubungan.
											Kriteria yang dapat digunakan dalam penilaian dalam menetukan pasangan idapat dapat dilakukan dengan
											menentukan atribut-atribut, atribut tersebut diantranya adalah keuangan, sikap, komunikasi, kecerdasan
											emosional serta kemampuan pasangan dalam menempatkan diri untuk bergurau atau serius dalam berbagai kondisi.
									</div>
								</div>
								<div class="kt-widget14__chart" style="height:120px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
									<canvas id="kt_chart_daily_sales" style="display: block; height: 120px; width: 323px;" width="403" height="150" class="chartjs-render-monitor"></canvas>
								</div>
								<br><br>
								<span class="kt-widget2__title">
										Aplikasi yang akan membantu Anda menentukan Pasangan Idaman yang Anda butuhkan, Anda mendambakan pasangan Idaman yang mampu membuat Anda terpukau
									<br>  mari coba membuktikannya....
								</span>
							</div>
						</div>

						<!--end:: Widgets/Daily Sales-->
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6">

						<!--begin:: Widgets/Daily Sales-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-widget14">
								<div class="kt-widget14__header kt-margin-b-30">
									<h3 class="kt-portlet__head-title">
										Ingin tau "Algoritma ID3?"
									</h3><br><br>
									<div class="kt-widget2">
										<div class="kt-widget2__item kt-widget2__item--success">
											<div class="kt-widget2__checkbox">
											</div>
											<div class="kt-widget2__info">
												<h2 class="kt-widget14__title">
													Algoritma ID3 (Itterative Dechotomiser 3)
												</h2>
												<span class="kt-widget14__desc">
													merupakan algoritma data mining dengan mencari hasil klarifikasi menggunakan sebuah pohon keputusan.
												</span>
											</div>
										</div>
										<div class="kt-widget2__item kt-widget2__item--warning">
											<div class="kt-widget2__checkbox">
											</div>
											<div class="kt-widget2__info">
												<h4 class="kt-widget14__title">
													Cara kerja Algoritma ID3 dapat digambarkan sebagai berikut:
												</h4>
												<span class="kt-widget14__desc">
													<ol>
														<li>Ambil semua atribut yang tidak terpakai dan hitung entropinya yang berhubungan dengan test sample.</li>
														<li>Pilih atribut dimana nilai entropinya minimum. </li>
														<li>Buat simpul yang berisi atribut tersebut.</li>
													</ol>
												</span>
											</div>
										</div>
										<div class="kt-widget2__item kt-widget2__item--brand">
											<div class="kt-widget2__checkbox">
											</div>
											<div class="kt-widget2__info">
												<h4 class="kt-widget14__title">
													Adapun sample data yang digunakan oleh ID3 memiliki beberapa syarat, yaitu:
												</h4>
												<span class="kt-widget14__desc">
													<ol>
														<li>Deskripsi atribut nilai. Atribut yang sama harus mendeskripsikan tiap contoh dan memiliki jumlah nilai yang sudah ditentukan,</li>
														<li>Kelas yang sudah didefinisikan sebelumnya. Suatu atribut contoh harus sudah didefinisikan, karena mereka tidak dipelajari oleh ID3, </li>
														<li>Kelas-kelas yang diskrit. Kelas harus digambarkan dengan jelas. Kelas yang kontinu dipecah-pecah menjadi kategori yang relatif, misalnya saja metal dikategorikan menjadi ?hard, quite hard, flexible, soft, quite soft?,</li>
														<li>Jumlah contoh (example) yang cukup. Karena pembangkitan induktif digunakan, maka dibutuhkan test case yang cukup untuk membedakan pola yang valid dari peluang suatu kejadian.</li>
													</ol>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--end:: Widgets/Daily Sales-->
					</div>
					<div class="col-xl-6">

						<!--begin:: Widgets/Profit Share-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-widget14">
								<div class="kt-widget14__header">
									<h3 class="kt-widget14__title">
										Kelompok 2
									</h3>
									<span class="kt-widget14__desc">
										S7C SBP
									</span>
								</div>
								<div class="kt-widget14__content">
									<div class="kt-widget14__legends">
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-success"></span>
											<span class="kt-widget14__stats">Ridlwan Yunus - 202043579115</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-warning"></span>
											<span class="kt-widget14__stats">Ni Putu Dyah Windhasari - 202043579085</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-brand"></span>
											<span class="kt-widget14__stats">Nursyahfitri Purba - 202043579104</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-success"></span>
											<span class="kt-widget14__stats">Nidiya Putri Surya - 202043579108</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-warning"></span>
											<span class="kt-widget14__stats">Diknawaty - 202043579087</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-brand"></span>
											<span class="kt-widget14__stats">Dwi Joko Widodo - 202043579112</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-success"></span>
											<span class="kt-widget14__stats">Gita Anisa Utami - 202043579097</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-warning"></span>
											<span class="kt-widget14__stats">Nia Aulia Sitorus - 202043579083</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-brand"></span>
											<span class="kt-widget14__stats">Wiser Jimson Siringo-Ringo - 202043579106</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-success"></span>
											<span class="kt-widget14__stats">Hawwin Rizki Herlianto - 202043579090</span>
										</div>
										<div class="kt-widget14__legend">
											<span class="kt-widget14__bullet kt-bg-warning"></span>
											<span class="kt-widget14__stats">M. Isya Krisnaldi - 202043579138</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--end:: Widgets/Profit Share-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>